{% extends 'base_dictionary.html' %}
{% block head %}

{% endblock %}

{% block style %}
<style>
* {
  font-family: 'Bai Jamjuree', sans-serif;
}

.logo {
  font-size: 100px;
  text-align: center;
  color: #bf9b30;
}

.login {
  text-align: center;
}

.social-login {
  background: none;
  border: none;
  border-radius: 3px;
  background-color: #0074D9;
  width: 15%;
  height: 40px;
  margin: 0px;
  color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;  
  display: inline-block;
  font-size: 30px;
}

.social-login a {
  display: block;
  text-decoration: none;
  color: white;
}

.index-to-login {
  background: none;
  border: none;
  border-radius: 3px;
  background-color: #0074D9;
  width: 30%;
  min-width: 200px;
  height: 40px;
  margin: auto;
  margin-top: 5px;
  color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.index-to-login a {
  text-decoration: none;
  color: white;
  display: block;
}

.search-container {
  text-align: center;
}

.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 400px;
  border: 1px solid #d9d9d9;
}

.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background: #0074D9;
  color: white;
}

.search-container button:hover {
  background: white;
  color: #0074D9;
  border: 1px solid #0074D9;
}

#app {
  width: 100%;
}

.card {
  max-width: 100%;
  margin: 20px auto;
  min-height: 100px;
  border: 1px solid #d9d9d9;
  padding: 5px;
  line-height: 30px;
}

.score {
  width: 9%;
  display: inline-block;
  text-align: center;
  min-height: 150px;
  margin-top: 10px;
  vertical-align: top;
}

.score * {
  display: block;
}

.text {
  width: 89%;
  display: inline-block;
  min-height: 100px;
  margin-top: 15px;
  vertical-align: top;
}

.text a {
  color: #0074D9;
  text-decoration: none;
  margin-top: 10px;
  font-size: 20px;
}

.text a:visited {
  color: #0074D9;
}

.text a span {
  font-weight: 400;
  font-size: 16px;
}

.load-more {
  background: none;
  border: none;
  border-radius: 5px;
  background-color: #0074D9;
  max-width: 60%;
  height: 50px;
  margin: auto;
  color: white;
  margin-bottom: 100px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-size: 20px;
}

.end {
  text-align: center;
  color: #FF4136;
  margin-bottom: 100px;
}

#add {
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -30px;
  background: none;
  border: none;
  font-size: 60px;
  cursor: pointer;
  color: #0074D9;
}

#add p {
  width: 20px;
  height: 20px;
  margin: 0px;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

}


.add-modal-content {
  height: 500px;
  width: 500px;
  margin: auto;
  padding: 30px;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.add-modal-content input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 100%;
  border: 1px solid #d9d9d9;
}

.add-modal-content textarea {
  width: 100%;
  border: 1px solid #d9d9d9;
}
</style>
{% endblock %}

{% block content %}
<h1 class="logo"><i class="fal fa-text-width"></i><i class="fal fa-integral"></i><i class="fal fa-text-height fa-flip-horizontal"></i></h1>
  {% if user.is_authenticated %}
    {% load account %}
    {% user_display user %}
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      <button>sign out</button>
    </form>
  {% else %}
  <div class="login">
    <div class="social-login" style="background-color: #3b5998;">
      {% load socialaccount %}
      {% providers_media_js %}
      <a href="{% provider_login_url "facebook" method="js_sdk" %}"><i class="fab fa-facebook-square"></i></a>
    </div>
    <div class="social-login" style="background-color: #00be00;">
      <a href="{% provider_login_url "line" %}"><i class="fab fa-line"></i></a>
    </div>
    <div class="index-to-login"><a href="{% url 'account_login' %}">ลงชื่อเข้าใช้/สมัครสมาชิก</a></div>
  </div>
  {% endif %}



<!-- start vuejs app -->
<div id="app">
  <div class="search-container">
      <input type="text" placeholder="ค้นหา.." v-model="live_search" aria-label="Search">
      <button type="submit" v-on:click.prevent="getWords()"><i class="fa fa-search"></i></button>
  </div>
  <div class="card animated slideInUp" v-for="word in words">
    <div class="score">
      <a v-on:click="Vote(word.id, 'up')">
        
      <i class="fal fa-hand-point-up"></i>
      [[ word.up ]]
      </a>
      <a v-on:click="Vote(word.id, 'down')">
        [[ word.down ]]
        <i class="fal fa-hand-point-down"></i>
      
      </a>
    </div>
    <div class="text">
      <a  v-bind:href="word.url">[[ word.name ]]</a><span> แปลว่า</span>
      <p>[[ word.meaning ]]</p>
    </div>
  </div>
  <div class="load-more animated slideInUp" v-on:click="loadMore()" v-if="more"><p>เพิ่มเติม...<i class="fal fa-chevron-double-down"></i></p></div>
  <h1 class="end" v-if="end"><i class="fal fa-empty-set"></i></h1>
  <div id="add" v-on:click="toggleModal()"><i class="fas fa-plus-circle"></i></div>
  <!-- div addWord Modal -->
  <transition name="fade" enter-active-class="animated zoomInUp faster"  leave-active-class="animated zoomOut faster">
    <div id="add-modal" class="modal" v-if="showModal" v-on:click.self="toggleModal()">
      <div class="add-modal-content">
        <form action="" v-on:submit.prevent="addWords()">
        <div class="name">
          <label for="">คำศัพท์</label>
          <input type="text" v-model="newWord.name">
        </div>
        <div class="readas">
          <label for="">อ่านว่า</label>
          <input type="text" v-model="newWord.readas">
        </div>
        <div class="meaning">
          <label for="">แปลว่า</label>
          <textarea type="text" v-model="newWord.meaning"></textarea>
        </div>
        <button>Submit</button>
        </form>
      </div>
    </div>
  </transition>
  <!-- end addWord Modal -->
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
  const direction = '/api/dictionary/percUp_list'
  Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
  var vm = new Vue ({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      words: [],
      curWord: {},
      nextPageUrl: null,
      more: false,
      end: false,
      trigger: 300,
      showModal: false,
      search_term: '',
      newWord: {
        'name': null,
        'readas': null,
        'meaning': null,
      },
    },

    mounted: function () {
      this.getWords();
    },

    computed: {
      live_search: {
        get() {
          return this.search_term
        },
        set(newVal) {
          if (this.words.length == 1 && this.search_term.length < newVal.length) {
            this.search_term = newVal
            if (!(this.words[0].name.includes(newVal))) {
              this.words = []
            }
          }
          else if (this.words.length == 0 && this.search_term.length < newVal.length) {this.search_term = newVal}
          else {
            this.search_term = newVal
            this.getWords()
          }
        }
      }
    },

    methods: {
      getWords: function () {
        this.end = false
        let api_url = '/api/dictionary/percUp_list'
        if (this.search_term!==''&&this.search_term!==null) {
          api_url = `/api/dictionary/?search=${this.search_term}`
        }
        this.$http.get(`${api_url}`)
        .then((response) => {
          this.words = response.data.results
          this.nextPageUrl = response.data.next
          this.more = this.words.length < 10 ? false : true
        })
        .catch((err) => {
          console.log(err)
        })
      },

      loadMore: function () {
         if (this.nextPageUrl!==null) {
                this.$http.get(this.nextPageUrl)
                .then((response) => {
                  this.words = this.words.concat(response.data.results)
                  this.nextPageUrl = response.data.next
                })
                .catch((err) => {
                  console.log('err')
                })
              }
              else {
                this.more = false
                this.end = true
              }
            },

      Vote: function (id, act) {
        this.$http.get(`/api/dictionary/${id}/`)
        .then((response) => {
          this.curWord = response.data
          this.curWord[act] += 1
          this.$http.put(`/api/dictionary/${id}/`, this.curWord)
          .then((response) => {
            this.words.find(function(element) {return element.id == id})[act] = this.curWord[act]
          })
          .catch((err) => {
            console.log(err)
          })
        })
      },

      toggleModal: function () {
        this.showModal = !this.showModal
      },

      addWords: function () {
        this.$http.post(`/api/dictionary/`, this.newWord)
        .then((response) => {
          this.words.unshift(response.data)
          this.toggleModal()
        })
        .catch((err) => {
          console.log(err)
        })
      },


    },
    // end methods

  })
</script>
{% endblock %}
